.navbar{
    background-color: rgb(100, 110, 123);
    display: flex;
    justify-content: center;
    height: 70px;
}
.navbar-wrapper{
    width: 60%;
    background-color: rgb(131, 139, 149);
    display: flex;
    border-radius: 3px;
}
.search-result{
    height: 50px;
    background-color: rgb(155, 162, 170);
    border-radius: 5px;
    margin: 5px 0 5px 5px;
    list-style-type: none;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    white-space: nowrap;
    -webkit-animation: fadein 200ms;
    animation: fadein 200ms;
}
@keyframes fadein {
    from { transform: scale(0); }
    to   { transform: scale(1); }
}

@-webkit-keyframes fadein {
    from { transform: scale(0); }
    to   { transform: scale(1); }
}

.submit-button{
    display: none;
}
.search-result-text{
    color: white;
    margin: 0 0 0 10px;
}
.search-result-button{
    color: white;
    background-color: rgb(155, 162, 170);
    border: none;
    padding: 0;
    margin: 0 5px 0 5px;
}
.input-group{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(131, 139, 149) inset;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
input:focus{
    outline-width: 0;
}
.input-field{
    background-color: rgb(131, 139, 149);
    padding: 10px;
    border: none;
    color: white;
    width: 100%;
    height: 50px;
}
.input-field::-webkit-input-placeholder{
    color: white;
}
.invisible-button{
    display:none;
}
.weather-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.weather-card{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 32%;
    margin-top: 20px;
    -webkit-animation: fadein 200ms;
    animation: fadein 200ms;
}
.weather-card:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 200ms;
}

@media all and (max-width: 1280px) {
    .weather-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin: auto;
    }
    .navbar-wrapper{
        width: 80%;
    }
}
@media all and (max-width: 1020px) {
    .weather-card-container{
        width: 100%;
    }
    .weather-card{
        width: 48%;
    }
    .navbar-wrapper{
        width: 100%;
    }
    .alert{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}
@media all and (max-width: 700px) {
    .weather-card-container{
        width: 100%;
    }
    .weather-card{
        width: 99%;
        margin-top: 10px;
    }
    .navbar{
        height: auto;
    }
    .navbar-wrapper{
        flex-direction: column;
        width: 100%;
    }
    .search-result{
        margin: 0;
        border-bottom: 1px solid rgb(131, 139, 149);
    }
    .search-result-text{
        margin: auto;
    }
    .input-field{
        margin: 0;
        width: 99%;
        border: 0px;
    }
}