<nav class="navbar">
  <div class="navbar-wrapper">
    <div class="search-result" *ngFor="let weatherCardData of weatherData">
      <p class="search-result-text" *ngFor="let data of weatherCardData">{{ data?.name }}</p>
      <button class="search-result-button" (click)="removeCity(weatherCardData)">x</button>
    </div>
   
    <form novalidate class="input-group" [formGroup]="weatherForm" (ngSubmit)="searchLocation();">
        <input type="text" id="location" class="input-field" formControlName="location" placeholder="Search Cities by Name, Postal code or ID">
        <button class="submit-button" type="submit" [disabled]="!weatherForm.valid"></button>
    </form>
  </div>
</nav>

<div *ngIf="!weatherForm?.get('location').valid && weatherForm?.get('location').dirty" class="alert alert-warning">
    <p [hidden]="!weatherForm.get('location').errors['duplicate']">Duplicate cities cannot be loaded</p>
    <p [hidden]="weatherForm.get('location').errors['minLenght']">City name must be least 2 characters long</p>
</div>

<div class="weather-card-container">
  <div class="weather-card" *ngFor="let weatherCardData of weatherData" [weatherCard]="weatherCardData">
  </div>
</div>