<div class="card-container" *ngFor="let weather of weatherCardData" (click)="removeCard(weatherCardData)">
  <div class="card-row card-city">
    <p class="card-city-text">{{ weather?.name }}</p>
    <p class="card-secondary-text">{{ utc | date : "MMMM" }} {{ utc | date : "dd" }} </p>
  </div>
  <div class="card-row card-row-grow">
      <div class="card-temperature-section">
        <p class="card-temperature-text">{{ weather?.main.temp | number : '1.0-0'}}<span class="card-degrees">&#8451;</span></p>
      </div>
    <div *ngFor="let description of weather.weather">
      <p class="card-secondary-text card-description">{{ description?.description | capitalizeFirst }}</p>
    </div>
  </div>
  <div class="card-row card-weather">
    <p class="card-secondary-text">Humidity: {{ weather?.main.humidity + "%" }}</p>
    <p class="card-secondary-text">Wind: {{ weather?.wind.speed + "m/s" }}</p>
  </div>
</div>