.card-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-temperature-text{
    text-align: center;
    padding: none;
    line-height: 0.3;
    margin-top: 10%;
}
.card-row-grow{
    flex-grow: 1;
}
.card-temperature-section{
    font-size: 40px;
    line-height: 0.3;
    text-align: left;
    margin-top: 10px;
    padding: 0;
}
.card-city-text{
    font-size: 22px;
    margin: 0;
    border: 0;
    margin-bottom: -1px;
}
.card-secondary-text{
    font-size: 16px;
    color: rgb(100, 110, 123);
    margin: 0;
    vertical-align: top;
}
.card-degrees{
    font-size: 15px;
    line-height: 0.4;
    vertical-align: top;
    position: relative;
    top: -10px;
}
.card-city,
.card-weather{
    margin: 0 10px 0 10px;
    white-space: nowrap;
}
.card-description{
    text-align: center;
    margin-top: 0;
}