/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: rgb(235, 239, 241);
    font-family: 'Roboto', sans-serif;
}